<!--This is rendered from a Handlebars template-->

<div class='container' style="position: relative">

    <!-- Navigation Buttons //////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

    <!-- Profile Button -->
    <div class="btn-group dropleft" style='position: fixed; top: 20px; right: 20px; z-index: 999; cursor: pointer'>
        <div data-toggle="dropdown">
            <i class="material-icons" style='font-size: 40px; border-radius: 100%'>person</i>
        </div>
        <div class="dropdown-menu p-3">
            <p id='loggedInUserDisplay' style='font-weight: 600'>Username</p>
            <a id='logoutButton'> Logout </a>
        </div>
    </div>

    <!--New entry button-->
    <div class="btn-group dropleft" style='position: fixed; top: 80px; right: 20px; z-index: 999; cursor: pointer'
        data-toggle="modal" data-target="#addModal">
        <i class="material-icons" style='font-size: 40px; border-radius: 100%'>add</i>
    </div>

    <!--Stats page button-->
    <div id='statsModalTrigger' class="btn-group dropleft"
        style='position: fixed; top: 140px; right: 20px; z-index: 999; cursor: pointer' data-toggle="modal"
        data-target="#statsModal">
        <i class="material-icons" style='font-size: 40px; border-radius: 100%'>show_chart</i>
    </div>

    <main class='container'></main>

    <!-- Add Modal //////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalTitle">Create an Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form Content -->

                    <form action="/addentry" method="post">

                        <div class="form-group" style="display: none">
                            <label for="userid">User ID</label>
                            <input type="text" class="form-control" id="useridForNewEntry" name="user_id"
                                placeholder="userid"></input>
                        </div>

                        <div class="form-group">
                            <label for="date">Date</label>
                            <input type="date" class="form-control" id="date" name="date"></input>
                        </div>

                        <div class="form-group">
                            <label for="hours">Hours</label>
                            <input type="number" step="0.25" min="0" class="form-control" id="hours" name="hours"
                                placeholder="Hours"></input>
                        </div>

                        <div class="form-group">
                            <label for="comments">Comments</label>
                            <textarea class="form-control" rows="5" id="comments" name="comments"
                                placeholder="Comments"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="hours">Programming Language</label>
                            <select class="form-control" id="proglang" name="proglang"
                                placeholder="Programming language">
                                <option value="JavaScript">JavaScript</option>
                                <option value="Python">Python</option>
                                <option value="C">C</option>
                                <option value="C#">C#</option>
                                <option value="C++">C++</option>
                                <option value="Java">Java</option>
                                <option value="VBA">VBA</option>
                                <option value="Swift">Swift</option>
                            </select>
                        </div>
                        <div class='text-right'>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

    <!-- Edit Modal //////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <div class="modal fade" id="editRecordModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalTitle">Edit an Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form Content -->

                    <form action="/editentry" method="post">

                        <div class="form-group" style="display: none">
                            <input type="text" class="form-control" id="recordDatabaseID"
                                name="recordDatabaseID"></input>
                        </div>

                        <div class="form-group">
                            <label for="date">Date</label>
                            <input type="date" class="form-control" id="dateEdit" name="dateEdit"
                                placeholder="Date"></input>
                        </div>

                        <div class="form-group">
                            <label for="hours">Hours</label>
                            <input type="number" step="0.25" min="0" class="form-control" id="hoursEdit"
                                name="hoursEdit" placeholder="Hours"></input>
                        </div>

                        <div class="form-group">
                            <label for="comments">Comments</label>
                            <textarea class="form-control" rows="5" id="commentsEdit" name="commentsEdit"
                                placeholder="Comments"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="hours">Programming Language</label>
                            <select class="form-control" id="proglangEdit" name="proglangEdit"
                                placeholder="Programming language">
                                <option value="JavaScript">JavaScript</option>
                                <option value="Python">Python</option>
                                <option value="C">C</option>
                                <option value="C#">C#</option>
                                <option value="C++">C++</option>
                                <option value="Java">Java</option>
                                <option value="VBA">VBA</option>
                                <option value="Swift">Swift</option>
                            </select>
                        </div>
                        <div class='text-right'>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

    <!-- Stats Modal //////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <div class="modal fade" id="statsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80%; max-height: 80%">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="statsModalTitle">Statistics</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="position: relative">
                    <nav class="nav nav-pills nav-justified">
                        <a id='hoursByTime' class="nav-item nav-link" href="#">Hours by Time</a>
                        <a id='hoursByLanguage' class="nav-item nav-link" href="#">Hours by Language</a>
                        <a id='hoursByTotal' class="nav-item nav-link" href="#">Total</a>
                    </nav>
                    <br />
                    <div id="statsModalBody"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

</div>

<script src='home.js'></script>

