/* General ############################################################ */

body {
    background-image: url('pushpins.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* Icons and Buttons ############################################################ */

i {
    color: rgb(158, 88, 65);
    border: 2px rgb(158, 88, 65) solid
}

.btn-primary {
    border: none;
    background-color: rgb(158, 88, 65);
}

/* Login Page ############################################################ */

.powerSource {
    font-family: 'Roboto', sans-serif;
    text-align: right;
    font-size: 24px;
    line-height: 2;
    color: rgb(158, 88, 65);
}

.powerSourceHeader {
    font-family: 'Roboto', sans-serif;
    text-align: right;
    font-size: 12px;
    line-height: 2;
    color: rgb(158, 88, 65);
}

/* Home Page ############################################################ */

.card {
    font-family: 'Roboto', sans-serif;
}

.card-header {
    color: rgb(158, 88, 65);
    font-size: 18px;
}

.card-header h5{
    padding-top: 10px
}

/* Custom Tags ############################################################ */

.bronze {
    color: rgb(158, 88, 65);
}