body {
    background-image: url('pushpins.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

body, html {
    height: 100%;
}

i {
    color: rgb(158, 88, 65);
    border: 2px rgb(158, 88, 65) solid
}

.btn-primary {
    border: none;
    background-color: rgb(158, 88, 65);
}

.bronze {
    color: rgb(158, 88, 65);
}