body {
    background-image: url('pushpins.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

body, html {
    height: 100%;
}

i {
    color: rgb(158, 88, 65);
    border: 2px rgb(158, 88, 65) solid
}

.btn-primary {
    border: none;
    background-color: rgb(158, 88, 65);
}

.bronze {
    color: rgb(158, 88, 65);
}

.powerSource {
    font-family: 'Roboto', sans-serif;
    text-align: right;
    font-size: 24px;
    line-height: 2;
    color: rgb(158, 88, 65);
}

.powerSourceHeader {
    font-family: 'Roboto', sans-serif;
    text-align: right;
    font-size: 12px;
    line-height: 2;
    color: rgb(158, 88, 65);
}